.dark-medium-contrast {
  --md-sys-color-primary: rgb(150 235 228);
  --md-sys-color-surface-tint: rgb(128 213 206);
  --md-sys-color-on-primary: rgb(0 43 41);
  --md-sys-color-primary-container: rgb(71 158 152);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(194 227 223);
  --md-sys-color-on-secondary: rgb(10 42 40);
  --md-sys-color-secondary-container: rgb(119 151 148);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(232 213 255);
  --md-sys-color-on-tertiary: rgb(47 26 79);
  --md-sys-color-tertiary-container: rgb(158 134 194);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 20);
  --md-sys-color-on-background: rgb(224 227 226);
  --md-sys-color-surface: rgb(16 20 20);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(62 73 72);
  --md-sys-color-on-surface-variant: rgb(211 223 221);
  --md-sys-color-outline: rgb(169 180 178);
  --md-sys-color-outline-variant: rgb(135 147 145);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 227 226);
  --md-sys-color-inverse-on-surface: rgb(38 43 42);
  --md-sys-color-inverse-primary: rgb(0 81 77);
  --md-sys-color-primary-fixed: rgb(156 242 235);
  --md-sys-color-on-primary-fixed: rgb(0 20 19);
  --md-sys-color-primary-fixed-dim: rgb(128 213 206);
  --md-sys-color-on-primary-fixed-variant: rgb(0 61 58);
  --md-sys-color-secondary-fixed: rgb(200 233 229);
  --md-sys-color-on-secondary-fixed: rgb(0 20 19);
  --md-sys-color-secondary-fixed-dim: rgb(172 205 201);
  --md-sys-color-on-secondary-fixed-variant: rgb(29 59 57);
  --md-sys-color-tertiary-fixed: rgb(237 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(26 2 58);
  --md-sys-color-tertiary-fixed-dim: rgb(214 187 251);
  --md-sys-color-on-tertiary-fixed-variant: rgb(65 43 97);
  --md-sys-color-surface-dim: rgb(16 20 20);
  --md-sys-color-surface-bright: rgb(65 69 69);
  --md-sys-color-surface-container-lowest: rgb(5 8 8);
  --md-sys-color-surface-container-low: rgb(26 30 30);
  --md-sys-color-surface-container: rgb(36 41 40);
  --md-sys-color-surface-container-high: rgb(47 51 51);
  --md-sys-color-surface-container-highest: rgb(58 62 62);
}
