.light {
  --md-sys-color-primary: rgb(0 86 82);
  --md-sys-color-surface-tint: rgb(0 106 101);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 112 107);
  --md-sys-color-on-primary-container: rgb(155 240 233);
  --md-sys-color-secondary: rgb(70 100 97);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(200 233 229);
  --md-sys-color-on-secondary-container: rgb(76 106 103);
  --md-sys-color-tertiary: rgb(87 65 120);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(112 89 146);
  --md-sys-color-on-tertiary-container: rgb(236 218 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(247 250 249);
  --md-sys-color-on-background: rgb(24 28 28);
  --md-sys-color-surface: rgb(247 250 249);
  --md-sys-color-on-surface: rgb(24 28 28);
  --md-sys-color-surface-variant: rgb(217 229 227);
  --md-sys-color-on-surface-variant: rgb(62 73 72);
  --md-sys-color-outline: rgb(110 121 120);
  --md-sys-color-outline-variant: rgb(189 201 199);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 49 49);
  --md-sys-color-inverse-on-surface: rgb(238 241 240);
  --md-sys-color-inverse-primary: rgb(128 213 206);
  --md-sys-color-primary-fixed: rgb(156 242 235);
  --md-sys-color-on-primary-fixed: rgb(0 32 30);
  --md-sys-color-primary-fixed-dim: rgb(128 213 206);
  --md-sys-color-on-primary-fixed-variant: rgb(0 80 76);
  --md-sys-color-secondary-fixed: rgb(200 233 229);
  --md-sys-color-on-secondary-fixed: rgb(0 32 30);
  --md-sys-color-secondary-fixed-dim: rgb(172 205 201);
  --md-sys-color-on-secondary-fixed-variant: rgb(46 76 74);
  --md-sys-color-tertiary-fixed: rgb(237 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(37 14 68);
  --md-sys-color-tertiary-fixed-dim: rgb(214 187 251);
  --md-sys-color-on-tertiary-fixed-variant: rgb(82 60 115);
  --md-sys-color-surface-dim: rgb(215 219 217);
  --md-sys-color-surface-bright: rgb(247 250 249);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 244 243);
  --md-sys-color-surface-container: rgb(235 239 237);
  --md-sys-color-surface-container-high: rgb(229 233 231);
  --md-sys-color-surface-container-highest: rgb(224 227 226);
}
